<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://eligas00.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eligas00.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EliGAs00</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EliGAs00</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Eli_G_As00Context" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:w5jwcq7gq9.database.windows.net,1433;Initial Catalog=EliGAs00_db;User ID=DBadmin@w5jwcq7gq9;Password=DBp4ssw0rd" Name="Data Source=tcp:w5jwcq7gq9.database.windows.net,1433;Initial Catalog=EliGAs00_db;User Id=DBadmin@w5jwcq7gq9;Password=DBp4ssw0rd;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Eli_G_As00.Models.Eli_G_As00Context, Eli_G_As00" MigrationConfiguration="Eli_G_As00.Migrations.Configuration, Eli_G_As00" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Eli_G_As00Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:w5jwcq7gq9.database.windows.net,1433;Initial Catalog=EliGAs00_db;User Id=DBadmin@w5jwcq7gq9;Password=DBp4ssw0rd;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>